<nav class="bg-blue-900 w-100 shadow-lg">
    <a href="#" class="flex items-center py-5 px-2">
        <i class="fas fa-rocket mr-2"></i>
        <span class="font-bold text-white">Cybergate</span>
    </a>    
</nav>